<?xml version="1.0" encoding="utf-8"?>
<manifest package="kz.akmarzhan.nationaltest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.authentication.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.authentication.LoginActivity">
        </activity>
        <activity android:name=".views.authentication.RegisterActivity">
        </activity>
        <activity android:name=".views.menu.MenuActivity">
        </activity>
        <activity android:name=".views.game.GameStartActivity">
        </activity>
        <activity android:name=".views.game.GameActivity">
        </activity>
        <activity android:name=".views.instructions.InstructionsActivity">
        </activity>
        <activity android:name=".views.settings.SettingsActivity">
        </activity>

        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>